body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin-left: 0;
  margin-right: 0;
}
.header-cotainer {
  display: flex;

  margin-right: auto;
  list-style-type: none;
  align-items: center;
  margin-top: 0;
  margin-left: 15px;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.header-nav {
  display: flex;
  font-family: Roboto, sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}
.header-nav-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-right: 76px;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}
.header-nav-logo-dark {
  color: #2e2f42;
}
.header-nav-list {
  display: flex;
  gap: 40px;
  color: #2e2f42;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.header-nav-item {
  box-sizing: border-box;
  list-style-type: none;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.header-address {
  display: flex;
  padding-right: 15px;
  margin-right: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.header-address-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.header-address-item {
  font-style: normal;
  color: var(--SLATE, #434455);
  font-family: Roboto, sans-serif;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  list-style-type: none;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.hero-cotainer {
  display: block;
  align-content: center;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  background: var(--NAVY-BLUE, #2e2f42);
  width: 1188px;
  min-height: 600px;
  padding-top: 0;
  text-align: center;
}
.hero-title {
  display: block;
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  width: 496px;
  padding-top: 188px;
  padding-bottom: 48px;
  box-sizing: border-box;
  margin: auto;
}
.hero-button {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.particularrity-cotainer {
  background: #fff;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.particularrity-title,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.particularrity-list {
  width: 1158px;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  margin: 120px 15px;
  padding-left: 0;
}
.particularrity-item {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.particularrity-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  box-sizing: border-box;
  list-style-type: none;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  padding-bottom: 2px;
  margin: 0;
}
.particularrity-item-text {
  box-sizing: border-box;
  list-style-type: none;
  color: var(--SLATE, #434455);
  font-family: Roboto;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
  margin: 0;
}
.team-cotainer {
  background: var(--CLOUD, #f4f4fd);
  width: 1158px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}
.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
  padding-top: 120px;
  margin: 0;
}
.team-list {
  display: flex;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  padding-bottom: 120px;
}
.team-item {
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style-type: none;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: flex;
  width: 264px;
}
.team-item-title {
  display: flex;
  width: 264px;
  padding-top: 32px;
  text-align: center;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 2;
  /* 120% */
  letter-spacing: 0.02em;
  justify-content: center;
  padding-bottom: 8px;
}
.team-item-text {
  width: 264px;
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.002em;
  justify-content: center;
  gap: 32px;
}
.portfolio-cotainer {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0;
  padding-top: 120px;
}
.portfolio-list {
  display: flex;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  padding-left: 0;
  padding-top: 72px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 120px;
}
.portfolio-item {
  width: 360px;
  height: 420px;
  display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Roboto, sans-serif;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}
.portfolio-item-title {
  width: 360px;
  display: flex;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  padding: 0 16px;
  padding-top: 32px;
  padding-bottom: 8px;
}
.portfolio-item-text {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.footer-cotainer {
  display: block;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  background: var(--NAVY-BLUE, #2e2f42);
  width: 1188px;
  height: 312px;
  margin: 0;
  padding-top: 101px;
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-left: 15px;
  text-decoration: none;
  box-sizing: border-box;
}
.header-nav-logo-light {
  color: #f4f4fd;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
  height: 72px;
  padding-top: 17px;
  box-sizing: border-box;
  margin-left: 15px;
}
